* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(157, 241, 234)
}

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */